body * + *{
    font-family: monospace;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
    height: 3em;
    margin: auto;   
}

.stopwatch{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:15em;
}
.time-lap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lap{
    display: inline;
    width:3.5em;
    height: 3.5em;
}


#time{
    display: inline;
    font-size: 3em;
}
.lap, .button{
    cursor:pointer; 
}
button{
   margin: 1em 1em;
   padding: 1em 1em;
   border: 0.125em;
   width: 7em;
   background-color: green;
   color:white;
}

button:hover, .lap:hover{
    opacity: 0.5;
    
}
button:focus{
    background-color: red;
}


.lap-table{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 1em;
    margin: 1em 1em;
    font-size: 1.2em;
    gap: 0.5em;
}




